<div class="row">
    <div class="col-md-6 offset-3">
        <img src=".\Images\2748558.png" />
        <hr />
        <a class="btn btn-outline-success" asp-controller="Movies" asp-action="Index">Home Page</a>
    </div>
</div>